* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

header {
  background: #222;
  color: white;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 2rem;
}

section {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  color: #777;
}

.image-container {
  width: 33%;
  height: 33%;
  margin: 50px auto;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* IMPORTANT pour PNG */
  animation: zoomInOut 0.5s ease-in-out infinite;
  transform-origin: center center;
}

/* Conteneur centré sur la page */
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centre horizontalement */
  justify-content: center; /* centre verticalement */
  height: 20vh;         /* prend toute la hauteur de la fenêtre */
  text-align: center;
  gap: 20px;             /* espace entre le bouton et le texte */
  font-family: Arial, sans-serif;
}

/* Bouton rouge */
#btn {
  background-color: #e74c3c; /* rouge vif */
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

/* Effet hover léger */
#btn:hover {
  transform: scale(1.05);
}

/* Texte du compteur */
#count {
  font-size: 1.2rem;
  color: #333;
}

/* Bannière en haut de page */
.site-banner {
  width: 100%;
  padding: 40px 20px;
  background: linear-gradient(90deg, #e74c3c, #c0392b); /* rouge dégradé */
  color: white;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.site-banner h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.site-banner p {
  font-size: 1.2rem;
  margin: 0;
}


/* Animation */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}


