* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

header {
  background: #222;
  color: white;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 2rem;
}

section {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  color: #777;
}

.image-container {
  width: 300px;
  height: 200px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 16px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: floatZoom 8s ease-in-out infinite;
  transform-origin: center;
}

/* Animation */
@keyframes floatZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

